.navbar {
    padding: 10px;
    background-color: #3528a7;
  }
  
  .nav-text, .navbar-brand {
    color: rgb(156, 154, 114) !important;
  }
  
  a.nav-text:hover {
      cursor: pointer;
      color: rgb(225, 225, 225) !important;
  }